@model IEnumerable<Carswebapp.Models.Table_1>

@{
    ViewBag.Title = "Index";
}

<style>

    body {
        background-image: url("http://thewallpaper.co/wp-content/uploads/2016/02/road-motor-wheels-tire-wallpapers-of-cars-hd-auto-photos-modified-cool-1366x768.jpg");
        color: white;
        font-family:'Tw Cen MT';
        font-size: large;
    }

</style>

<h2>MERCEDES-BENZ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Models)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Models)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Carnumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.Carnumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Carnumber })
        </td>
    </tr>
}

</table>
